@media screen and (max-width: 1024px) {
    .complete {
        font-size: 25px;
    }
}

@media screen and (max-width: 1024px) {
    .complete {    
        font-size: 20px;
    }

    .complete__img {
        width: 32px;
    }
}

@media screen and (max-width: 760px) {
    .logo__text {
        font-size: 28px;
        font-weight: 800;
    }
}

@media screen and (max-width: 375px) {
    .logo__text {
        font-size: 24px;
        font-weight: 800;
    }

    .form__label {
        font-size: 16px;
        font-weight: 600;
    }

    .complete {    
        font-size: 18px;
    }

    .complete__img {
        width: 24px;
    }
}

@media screen and (max-width: 332px) {
    .complete {    
        font-size: 14px;
    }

    .complete__img {
        width: 22px;
    }
}